@charset "UTF-8";

@font-face {
  font-family: Base;
  src: url(fonts/Raleway-Regular.ttf)
}
@font-face {
  font-family: Logo;
  src: url(fonts/PoiretOne-Regular.ttf)
}
@font-face {
  font-family: Title;
  src: url(fonts/Charmonman-Bold.ttf)
}

body {font-family: Base, sans-serif}
.title {font-family: Title}
h1 {font-family: Logo}









